<div class="row">
    <div class="col-sm-12 col-md-6 ">
        <div class="jumbotron">
            <form [formGroup]="form" name="form" (ngSubmit)="Submit()">
                <div class="form-group">
                  <label for="question1">1.When was the last time India won the Cricket World Cup?</label>
                  <select class="form-control" formControlName="question1" name="question1" [ngClass]="{'is-invalid':form.get('question1').touched && form.get('question1').invalid}" >
                    <option>2015</option>
                    <option>2003</option>
                    <option>2011</option>
                    <option>1983</option>
                </select>
                <div class="invalid-feedback">
                    <div> Required*</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="question2">2.What is the highest individual score by a batsman in Test Cricket </label>
                  <select class="form-control" formControlName="question2" name="question2" [ngClass]="{'is-invalid':form.get('question2').touched && form.get('question2').invalid}">
                    <option>400</option>
                    <option>375</option>
                    <option>264</option>
                    <option>300</option>
              </select>
                <div class="invalid-feedback">
                    <div> Required*</div>
                </div>
                </div>
                <div class="form-group">
                    <label for="question3">3.Who has won the most number of Cricket World Cup</label>
                    <select class="form-control" formControlName= "question3" name="question3" [ngClass]="{'is-invalid':form.get('question3').touched && form.get('question3').invalid}">
                        <option>India</option>
                        <option>Australia</option>
                        <option>West Indies</option>
                        <option>Pakistan</option>
                  </select>
                  <div class="invalid-feedback">
                    <div> Required*</div>
                  </div>
                </div>
                <div class="form-group">
                    <label  for="question4">4.How many International Centuries does Sachin Tendulakr has under his name</label>
                    <input type="text" class="form-control" formControlName="question4" name="question4" [ngClass]="{'is-invalid':form.get('question4').touched && form.get('question4').invalid}">
                    <div class="invalid-feedback">
                        <div> Required*</div>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid || SubmitDisabled">Submit</button>  
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-danger btn-block" [disabled] ="!clear" (click)="cleardata()">Clear</button>
                    </div>
                </div>
                
            </form>
              </div>
        </div> 
    <div class="col-sm-12 col-md-6 ">
        <div id="chartContainer" style="height: 400px; width: 80%; margin: 10%;"></div>    
    </div>
</div>
  
